# display (FIXME: needs init sequence fixes or similar still to get an image most likely)
# NOTE: technically nt35521_hd_dsi_vdo_truly_rt5081 was also defined for stock but seems to be completely irrelevant
CONFIG_CUSTOM_KERNEL_LCM="nt35695B_fhd_dsi_vdo_auo_rt5081"
CONFIG_LCM_WIDTH="480"
CONFIG_LCM_HEIGHT="640"
# CONFIG_MTK_LCM_PHYSICAL_ROTATION_HW is not set

# touchscreen (FIXME: enabling breaks compile due to stuff missing from 'struct tpd_dts_info')
# CONFIG_TOUCHSCREEN_MTK_GT1151 is not set

# camera (FIXME: "sp5508_mipi_raw sp2507_mipi_raw" entirely missing from drivers/misc/mediatek/imgsensor/src/common/v1)
CONFIG_CUSTOM_KERNEL_IMGSENSOR=""

# modem (ulwg)
CONFIG_MTK_MD1_SUPPORT=9

# headphones (USB-C)
CONFIG_SND_SOC_MT6357_ACCDET=y

# keypad backlight
CONFIG_MT6370_PMU_RGBLED=y

# sensors (not present)
# CONFIG_CUSTOM_KERNEL_ACCELEROMETER is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_SITUATION is not set
# CONFIG_CUSTOM_KERNEL_STEP_COUNTER is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set

# misc
CONFIG_LOG_BUF_SHIFT=22

# custom extras
# CONFIG_ARM64_ERRATUM_1542419 is not set
