# config fragment for Duoqin F21 Pro expected to be applied on top of k61v1_64_bsp_defconfig

# devicetree
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE=y
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES="mediatek/mt6761"
CONFIG_BUILD_ARM64_DTB_OVERLAY_IMAGE=y
CONFIG_BUILD_ARM64_DTB_OVERLAY_IMAGE_NAMES="mediatek/f21pro"

# display panel
CONFIG_CUSTOM_KERNEL_LCM="nt35695B_fhd_dsi_vdo_auo_rt5081"
CONFIG_LCM_WIDTH="480"
CONFIG_LCM_HEIGHT="640"
# CONFIG_MTK_LCM_PHYSICAL_ROTATION_HW is not set

# touchscreen (FIXME: enabling breaks compile due to stuff missing from 'struct tpd_dts_info')
# -> ??? NOW IT COMPLIES WITHOUT ANY CHANGES?!?!?!? just panics on boot with LCM driver "fixed" (untested)
# CONFIG_TOUCHSCREEN_MTK_GT1151 is not set

# camera (FIXME: "sp5508_mipi_raw sp2507_mipi_raw" entirely missing from drivers/misc/mediatek/imgsensor/src/common/v1 atm)
CONFIG_CUSTOM_KERNEL_IMGSENSOR=""

# keypad backlight
CONFIG_MT6370_PMU_RGBLED=y

# keypad top-left "Voice key" button (NOTE: stock somehow didn't enable this but it still worked?!)
CONFIG_KEYBOARD_GPIO=y

# headphones (USB-C)
CONFIG_SND_SOC_MT6357_ACCDET=y

# sensors (not present)
# CONFIG_CUSTOM_KERNEL_ACCELEROMETER is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_SITUATION is not set
# CONFIG_CUSTOM_KERNEL_STEP_COUNTER is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set

# modem (ulwg)
CONFIG_MTK_MD1_SUPPORT=9

# misc
CONFIG_LOG_BUF_SHIFT=22

# custom extras
# CONFIG_MTK_ACCELHUB is not set
# CONFIG_MTK_MAGHUB is not set
# CONFIG_MTK_BAROHUB is not set
# CONFIG_MTK_STEPSIGNHUB is not set
# CONFIG_MTK_STATHUB is not set
# CONFIG_MTK_WAKEHUB is not set
# CONFIG_MTK_GLGHUB is not set
# CONFIG_MTK_PICKUPHUB is not set
# CONFIG_MTK_DEVICE_ORIENTATION_HUB is not set
# CONFIG_MTK_TILTDETECTHUB is not set
# CONFIG_ARM64_ERRATUM_1542419 is not set

# maybe consider after wmt_drv etc connectivity /vendor/lib/modules built from source (when ABI breaks ok)
#CONFIG_NR_CPUS=4
#CONFIG_LTO_CLANG=y
#CONFIG_LTO_CLANG_THIN=y

# uart
#CONFIG_SERIAL_OF_PLATFORM=y

# earlyfb (cmdline: earlycon=simplefb,0x7faa0000,480,640)
CONFIG_FB_EARLY=y

# simplefb (NOTE: conflicts with LCM driver somewhat, cmdline: console=tty1 + simple-framebuffer dts node)
#CONFIG_FB_SIMPLE=y
#CONFIG_VT=y
#CONFIG_FRAMEBUFFER_CONSOLE=y
